<h3>Add new Item:</h3>
<%= form_for([@brand, @brand.items.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>