<p id="notice"><%= notice %></p>

<h1>Our Brands</h1>
<% if current_user.admin? %>
<%= link_to 'New Brand', new_brand_path %>
<% end %>

<table>
  <thead>
    <tr>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>          
        <td><%= link_to 'See More', brand %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
          <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>  
    <% end %>
  </tbody>
</table>

<br>

